{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "jasmine": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "max-len": [
      2,
      120
    ],
    "prefer-arrow-callback": 0,
    "prefer-destructuring": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "import/prefer-default-export": 0
  }
}
